{% load static %}
    
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Mota</title>
	<link rel="stylesheet" type="text/css" href="{% static 'blog/mdb/mdb.min.css' %}">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css" />
	<script type="text/javascript" src="{% static 'blog/jquery/jquery-3.6.0.js' %}"></script>
</head>
<body>

	<style type="text/css">
		.input-group>.form-control:focus {
		    border-color: #000000;
		    box-shadow: inset 0 0 0 1px #000000;
		}


		@media only screen and (max-width: 700px) {
  			#header-img{
				background-image: url("{% static 'blog/images/home-background-small.jpg' %}");
			}
 		}	
 		.black-text{
 			color: black;
 		}
 		.black-text:hover{
 			color: black;
 		}
 		.loader-wrapper{
 			width: 100%;
 			height: 100%;
 			position: absolute;
 			top: 0;
 			left: 0;
 			background-color: #fbfbfb;
 			display: flex;
 			justify-content: center;
 			align-items: center;
 			z-index: 1000;
 		}

	</style>

	<!-- LOADER -->
	<div class="loader-wrapper">
		<div class="spinner-grow" role="status">
		  	<span class="visually-hidden">Loading...</span>
		</div>
	</div>
	<script type="text/javascript">
		$(window).on("load", function(){
			$(".loader-wrapper").fadeOut();
		});
	</script>

	<nav class="navbar navbar-expand-lg navbar-light bg-light">
	  	<!-- Container wrapper -->
	  	<div class="container">

	  		<!-- Navbar brand -->
	    	<a class="navbar-brand me-2" href="#">
	      		<img src="{% static 'blog/logo4.png' %}" height="45" alt="MDB Logo" loading="lazy"/>
	    	</a>
		    <!-- Toggle button -->

		    <button class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target="#navbarCenteredExample" aria-controls="navbarCenteredExample" aria-expanded="false" aria-label="Toggle navigation">
		      <i class="fas fa-bars"></i>
		    </button>

		    <!-- Collapsible wrapper -->
		    <div id="navbarCenteredExample" class="collapse navbar-collapse">
			    <div class="navbar-collapse" >
			    	
			      	<!-- Left links -->
			      	<ul class="navbar-nav mb-2 mb-lg-0">
			        	<li class="nav-item">
			          		<a class="nav-link active" aria-current="page" href="{% url 'home' %}">Trang chủ</a>
			        	</li>
			        	<li class="nav-item">
			          		<a class="nav-link" href="{% url 'post' %}">Bài viết</a>
			        	</li>
			        	
				        <!-- Navbar dropdown -->
				        <li class="nav-item dropdown">
				          	<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-mdb-toggle="dropdown" aria-expanded="false">
				            	Thể loại
				          	</a>
			          		<!-- Dropdown menu -->
				          	<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
				            	{% for category in categorys %}
				            		{% if category.id == category_active %}
				            			<li>
						              		<a class="dropdown-item active" href="{% url 'post' %}?category={{ category.id }}">{{ category.name }}</a>
						            	</li>
						            {% else %}
						            	<li>
						              		<a class="dropdown-item" href="{% url 'post' %}?category={{ category.id }}">{{ category.name }}</a>
						            	</li>
				            		{% endif %}
								{% endfor %}
								<hr class="my-0 dropdown-divider">
								<li>
				              		<a class="dropdown-item" href="{% url 'post' %}">Tất cả</a>
				            	</li>
					        </ul>
				        </li>

				        <li class="nav-item" style="position: relative;">
					    	<!-- <a class="dropdown-toggle nav-link" data-mdb-toggle="dropdown" aria-expanded="false" href="#">
					    	   	<i class="fas fa-search"></i>
					    	</a> -->
					    	<a class="dropdown-toggle nav-link" data-mdb-toggle="dropdown" aria-expanded="false" href="#">
					    	   	Tìm kiếm
					    	</a>
					    	<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
					    	    <li style="width: 300px;">
					    	    	<!-- SEARCH BOX -->
								    <form id="search_box" class="dropdown-item d-flex align-items-center input-group w-auto" action="{% url 'post' %}" method="get">

								    	{% if search %}
								    		<input type="search" class="form-control rounded" placeholder="Tìm kiếm" aria-label="Search" aria-describedby="search-addon" name="search" value="{{ search_text }}"/>
										{% else %}
											<input type="search" class="form-control rounded" placeholder="Tìm kiếm" aria-label="Search" aria-describedby="search-addon" name="search"/>
										{% endif %}
								    </form>
								    <!-- SEARCH BOX -->
					    	 	</li>
					    	</ul>
				    	</li>
				    	<li class="nav-item">
				          	<a class="nav-link" href="{% url 'image_gallery' %}">Hình ảnh</a>
				        </li>
			      	</ul>
			      	<!-- Left links -->
			    </div>
			    <div class="dropdown">
			    	{% if user.is_authenticated %}
				        <a class="dropdown-toggle d-flex align-items-center hidden-arrow" href="#" id="navbarDropdownMenuAvatar" role="button" data-mdb-toggle="dropdown" aria-expanded="false">
				          <img src="
				          	{% if user.userprofile %}
				            	{{ user.userprofile.avatar.url }}
				            {% else %}
				            	http://cdn.onlinewebfonts.com/svg/img_264570.png
				            {% endif %}" 
				            class="rounded-circle" height="40" width="40" alt="Black and White Portrait of a Man" loading="lazy"/>
				        </a>
				        <ul class="dropdown-menu dropdown-menu-start dropdown-menu-lg-end" aria-labelledby="navbarDropdownMenuAvatar">
				          <li>
				            <a class="dropdown-item" href="{% url 'upload_user_avatar' %}">Đổi ảnh đại diện</a>
				          </li>
				          <li>
				            <a class="dropdown-item" href="{% url 'logout' %}">Đăng xuất</a>
				          </li>
				        </ul>
					{% else %}
						<ul class="navbar-nav">
						    <li class="nav-item">
					          	<a class="nav-link" href="{% url 'login' %}">Đăng nhập</a>
					        </li>
					    </ul>
					{% endif %}
				</div>
			</div>
	    	<!-- Collapsible wrapper -->
	    	

	  	</div>
	  	<!-- Container wrapper -->
	</nav>



	<main>
		{% block content %}
		{% endblock %}
	</main>

	<footer class="text-center text-white" style="background-color: #f1f1f1;">
	  	<!-- Grid container -->
	  	<div class="container pt-4">
	    	<!-- Section: Social media -->
	    	<section class="mb-4">
		      	<!-- Facebook -->
		      	<a class="btn btn-link btn-floating btn-lg text-dark m-1" href="https://www.facebook.com/ibbmdt/" role="button" data-mdb-ripple-color="dark" target="_blank"><i class="fab fa-facebook-f"></i></a>
		    	
		      	<!-- Instagram -->
		      	<a class="btn btn-link btn-floating btn-lg text-dark m-1" href="https://www.instagram.com/922shusu/" role="button" data-mdb-ripple-color="dark" target="_blank"><i class="fab fa-instagram"></i></a>
		     
		      	<!-- Linkedin -->
		      	<a class="btn btn-link btn-floating btn-lg text-dark m-1" href="https://www.linkedin.com/in/minh-nguy%E1%BB%85n-262633243/" role="button" data-mdb-ripple-color="dark" target="_blank"><i class="fab fa-linkedin"></i></a>
		      
		      	<!-- Github -->
		      	<a class="btn btn-link btn-floating btn-lg text-dark m-1" href="https://github.com/minhmdt23" role="button" data-mdb-ripple-color="dark" target="_blank"><i class="fab fa-github"></i></a>
	    	</section>
	    	<!-- Section: Social media -->
	  	</div>
	  <!-- Grid container -->

	  <!-- Copyright -->
	  	<div class="text-center text-dark p-3" style="background-color: rgba(0, 0, 0, 0.2);">
	    	© 2022 Copyright:
	    	<a class="text-dark" href="https://mdbootstrap.com/">Motablog.com</a>
	  	</div>
	  	<!-- Copyright -->
	</footer>
	
	<script type="text/javascript" src="{% static 'blog/mdb/mdb.min.js' %}"></script>


</body>
</html>